<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="URL Shortener with Python Flask, Bootstrap, API Gateway, Lambda and DynamoDB">
  <meta name="author" content="Ruan Bekker">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <title>Remote Plant Water</title>

  <link href="http://flask.pocoo.org/docs/0.12/_static/flask-favicon.ico" rel="icon">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/3.3/examples/justified-nav/justified-nav.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <style>
    heading {
      font-family: 'Raleway', sans-serif;
      font-size: 46px;
    }
  </style>

</head>

<body>
  <div class="container">

    <div class="jumbotron">
	<heading>{{ content }}</heading>
    </div>
    <h1 style="text-align:center"> Water My Plants</h1>

    <form action="/indoor/water" method="GET">
      <div class="input-group">
        <label for="duration ">Duration </label> 
        <input type="text" class="form-control input-sm" name="duration" placeholder="duration" autocomplete="off" value = 1 autofocus>
        <div class="input-group-btn">
            <button class="btn btn-primary btn-lg" type="submit">
              Water Indoor Plants
            </button>
          </div>
      </div>

    </form>
    <form action="/outdoor/water" method="GET">
        <div class="input-group">
          <label for="duration ">Duration </label> 
          <input type="text" class="form-control input-sm" name="duration" placeholder="duration" autocomplete="off" value = 1 autofocus>
          <div class="input-group-btn">
              <button class="btn btn-primary btn-lg" type="submit">
                Water Outdoor Plants
              </button>
            </div>
        </div>
  
      </form>
    <div class="stats">
        <pre>
            <table style="width:100%">
                <tr>
                  <th>Motor</th>
                  <th>Watered Today</th>
                  <th>Watered Total</th>
                  <th>Last Watered</th>
                </tr>
                <tr>
                    <td>Motor Indoor</td>
                  <td>{{ stats["Motor Indoor"]["today"] }}</td>
                  <td>{{ stats["Motor Indoor"]["total"] }}</td>
                  <td>{{ stats["Motor Indoor"]["last_watered"] }}</td>
                </tr>
                <tr>
                    <td>Motor Outdoor</td>
                  <td>{{ stats["Motor Outdoor"]["today"] }}</td>
                  <td>{{ stats["Motor Outdoor"]["total"] }}</td>
                  <td>{{ stats["Motor Outdoor"]["last_watered"] }}</td>
                </tr>
              </table>
        </pre>
    </div>

  </div>
</body>
</html>